/**
 *
 */

@import "./globals.css";


    

/* The container <div> - needed to position the dropdown content */
.dropdown {


    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {

    z-index:700;

    position: fixed;
    display: none;

    top:50px;
    left:40px;
    
    background-color: var(--LEEDZ_GRAY);
    min-width: 160px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);  /* QUESTION */

    padding:20px;
    border-radius: 10px;

  }
  

  
  /* Links inside the dropdown */
  .dropdown-content a {

    display: block;

    padding: 12px 16px;
    text-decoration: none;

    font-family: var(--FONT_3);
    font-size:20px;
    font-weight:600;
    color: black;

    border-radius:4px;
  }
  

  .dropdown-content a:hover {

        color:white;
        background-color: var(--LEEDZ_DARKGREEN);
    }


  
#dd_account {
    color:green;
    border-bottom:1px solid gray;
}




#dd_howto {
    margin-top:10px;
}


#dd_logout {
    margin-top:30px;
    color:black;
    border-top:1px solid gray;
}





  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display:block;
    color:white !important;
    z-index: 800;

}

  /* Change color of dropdown links on hover */
.show a:hover {
    color:white !important;
}





  